<% provide :page_title, 'Home' %>
<% currently_at 'Home' %>

<h1>Welcome to myaskit</h1>


# current_user<%= current_user.inspect %><br>
# @current_user<%= @current_user.inspect %>test<br>
# aaa= <%= @aaa.inspect %><br>
# params <%=params.inspect %><br>
# @test <%= @test.inspect %><br>
# @t <%= @t.inspect %><br>
# @t1 <%= @t1.inspect %><br>
# @t2 <%= @t2.inspect %><br>

&copy; Alex <%= Time.now.year %>


